@{
    ViewBag.Title = "FileRecordsUpload";
}

@if(ViewBag.x == true)
{
    <h3 style="color:white">Record from file to Database have been successfully added</h3>
}
else
{
    <h3 style="color:white">Error while Updating the database</h3>
}