@if (HttpContext.Current.Session.IsNewSession != false)
{
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row navbar-inverse">
    <h2 style="color:lightgrey">Agenda...</h2>
    <h4 style="color:lightgrey" >Daewoo is the first and the biggest foreign investment Company with an advanced and organized transport system in Pakistan. It is the only transport company to have nationwide network with various international trade links. Being a transport service provider the company owns a large fleet of buses, Technically Advanced Workshops to maintain the fleet for the safety of the passengers, State of the Art Terminals, Training Institutes for Drivers and Mechanical Staff.Daewoo has been rendering transport facilities for the last 14 years to the people of Pakistan and appreciated by the masses simultaneously highly praised by the Governments of Pakistan as well as Korea for its consistent success. Media of both the countries often express appreciation for the revolutionary accomplishment of the Company in transport sector, through various channels.</h4>
</div>