<style>
    .row {
        background-color: #282828;
        text-align:center;
    }
    .center-table {
        margin: 0 auto !important;
        float: none !important;
    }
</style>
<form method="post" action="/Home/Inq" >
    <div class="row navbar-inverse">     
        <h1 style = "color:white">Seat Inquiry</h1><br/>
	    <table class="nav navbar-nav navbar-brand center-table ">
		    <tr>
			    <td><h3 style = "color:white">Your NIC:</h3></td>
		    </tr>
		    <tr>
			    <td><input class="form-control col-lg-2" type = "text" name = "nic"></td>
		    </tr>
		    <tr>
			    <td> <br><input class="btn btn-success" type = "submit" value = "Inquire"></td>
		    </tr>
	    </table>
    </div>
</form>