@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center" class="row navbar-inverse">
    <a href="~/Admin/SigninAdmin" class="btn btn-success" type="button" >Sign in As Admin</a><br /><br />
    <a href="~/Home/Signin" class="btn btn-success" type="button" >Sign in As User</a>
</div>