@{
    ViewBag.Title = "SignupConfirm";
}

@if(ViewBag.x == "true")
{
    <h3 style="color:white">Successfully Signed up</h3>
}
else
{
    <h3 style="color:white">Not Successfully Signed up</h3>
}    